.blog{
  margin-top: -125px;
  z-index: 10;
  position: relative;
}
.blog-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-top: 60px;
  @include tablets{
    padding-top: 40px;
  }
  @include phones{
    padding-top: 30px;
  }
}
.blog__coll-left{
  max-width: 310px;
  @include tablets{
    display: none;
  }
}
.blog__coll-right{
  max-width: 790px;
  padding-left: 100px;
  @include tablets{
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  @include phones{
    padding-right: 10px;
    padding-left: 10px;
  }
}
.blog-nav-list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blog-nav__item{
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-right: 3px solid transparent;
  margin-bottom: 10px;
  cursor: pointer;
}
.blog-nav__item_active{
  border-right: 3px solid #00bfa5;
}
.blog-nav__link{
  font-size: 16px;
  color: rgb(69, 90, 100);
  text-align: right;
  display: inline-block;
}
.blog-nav__link_active{
  color: #00bfa5;
  font-weight: 600;
}
.blog-title{
  font-size: 35px;
  color: rgb(69, 90, 100);
  font-family: 'bernier';
  margin-bottom: 20px;
  @include tablets{
    margin-bottom: 15px;
    font-size: 30px;
  }
  @include phones{
   font-size: 21px; 
   margin-bottom: 20px;
  }
}
.blog-list{
  max-width: 680px;
}
.blog__item{
  margin-bottom: 70px;
  @include tablets{
    margin-bottom: 50px;
  }
}
.blog-desc{
  margin-bottom: 20px;
  @include tablets{
    margin-bottom: 15px;
    font-size: 14px;
  }
  @include phones{
    margin-bottom: 20px;
  }
}
.date{
  color: rgba(0, 191, 165, 0.702);
  @include tablets{
    font-size: 14px;
  }
}
.triangle-polygon_blog{
  fill: #fff;
}

