.title{
  font-size: 62.792px;
  font-family: 'bernier';
  color: rgb(55, 62, 66);
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  @include phones{
    font-size: 35px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #8d8f94;
    left: -34px;
    top: 50%;
    margin-top: -4px;
    @include tablets{
      background: #c3c4c0;
    }
    @include phones{
      background: #cbcbc8;
    }
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: #8d8f94;
    right: -34px;
    top: 50%;
    margin-top: -4px;
    @include tablets{
      background: #c3c4c0;
    }
    @include phones{
      background: #cbcbc8;
    }
  }
}
.subtitle_width{
  line-height: 1.333;
  }
.subtitle{
  font-size: 35px;
  font-family: 'bernier';
  color: rgb(69, 90, 100);
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  line-height: 1.171;
  @include phones{
    font-size: 21.304px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #8d8f94;
    left: -34px;
    top: 12px;
     @include tablets{
      background: #c3c4c0;
    }
    @include phones{
      background: #cbcbc8;
    }
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #8d8f94;
    right: -34px;
    top: 12px;
     @include tablets{
      background: #c3c4c0;
    }
    @include phones{
      background: #cbcbc8;
    }
  }
}
.title_color_white{
  color: #fff;
}
.section__title{
  position: absolute;
  left: 50%;
}
.title-svg-works{
  fill: #f0eee7;
  width: 500px;
  height: 160px;
  margin-left: -250px;
  @include tablets{
    width: 396px;
    height: 120px;
    margin-left: -198px;
  }
  @include phones{
    width: 250px;
    height: 80px;
    margin-left: -125px;
  }
}
.title-svg-about{
  width: 500px;
  height: 160px;
  margin-left: -250px;
  fill: #ebecec;
  margin-top: -50px;
  @include tablets{
    width: 396px;
    height: 120px;
    margin-left: -198px;
    margin-top: -30px;
  }
  @include phones{
    width: 250px;
    height: 80px;
    margin-left: -125px;
    margin-top: -10px;
  }
}
.section__title-hero{
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -160px;
}
.svg-title-hero{
  height: 300px;
  width: 100%;
  fill: rgba(255, 255, 255, 0.15);
}