.works{
  z-index: 10;
  position: relative;
}
.works__title{
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background: #faf8f0;
  @include tablets{
    padding-top: 43px;
    padding-bottom: 48px;
  }
  @include phones{
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
