$white: #efeee9;
$beige: #eeebdf;
$green: #16c2aa;
$text-color: #455a64;
$grey: #373e42;
$light-grey: #dfdcd5;
// resolutions
$wide: 1800px;
$laptop: 960px;
$tablets: 768px;
$phones: 480px;

//responsive
@mixin wide {
  @media screen and (min-width: $wide){
    @content;
}
}
@mixin laptop {
    @media screen and (max-width: $laptop){
        @content;
    }
}
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
@function rem($px) {
  @return $px / 16px+0rem;
}


@import 'normalize.css';
@import './layout/fonts.scss';
@import './layout/base.scss';

@import './icons/_sass-inline-svg.scss';
@import './icons/_sass-inline-svg-data.scss';

@import './blocks/**/*';

