script(type="text/x-template")#slider-root
  .slider
    info
    display
    btns



script(type="text/x-template")#slider-info
  .slider__info-container
    .slider__info
      .slider__info-title
        .slider__info-title-text
          .subtitle сайт школы онлайн образования
        .slider__info-skills html, css, javascript
        .slider__info-button
          a(href="work.link" target="_blank").iconed-button
            .iconed-button__icon
              i.fa.fa-link
            .iconed-button__text Посмотреть сайт


script(type="text/x-template")#slider-display
  .slider__display
    .slider__display-pic
      img(src="/images/content/works-1.png", alt="").slider__big-pic


script(type="text/x-template")#slider-btns
  .slider__buttons
    .slider__button.slider__button_prev
      div.slider__button-container
        div.slider__button-img-wrap
          img(src="/images/content/works-2.png", alt="").slider__button-pic
        .slider__button-arrow
          svg.slider__button-up
            use(xlink:href="/images/icons/sprite.svg#portf_arrow_up")
    .slider__button.slider__button_next
      div.slider__button-container
        div.slider__button-img-wrap
          img(src="/images/content/works-3.png", alt="").slider__button-pic
        .slider__button-arrow
          svg.slider__button-down
            use(xlink:href="/images/icons/sprite.svg#portf_arrow_down")