section.hero
    //- .hero-bg
    //-   img(src='/images/bg/hero.jpg').hero-bg__img
    .hero__links
      ul.socials
        li.socials__item
          a(href="#").socials__link.socials__link_vk
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#vk")
        li.socials__item
          a(href="#").socials__link.socials__link_in
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#github")
        li.socials__item
          a(href="#").socials__link.socials__link_gh
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#in")    
    .hero__menu
      .hamburger
        .hamburger-line
        .hamburger-line
        .hamburger-line
    .hero__container
      .section__title-hero
        svg.svg-title-hero
          use(xlink:href="/src/images/icons/sprite.svg#porfolio_header")
      .user
        .user__avatar
          img.user-img(src="/images/content/user.jpg", alt="аватар")
        .user__name
          h2.my-name Самат Хабибуллин
        .user__info 
          p Личный сайт веб разработчика

    .hero__btn
      .arrow-down
        svg.svg-arrow
          use(xlink:href="/src/images/icons/sprite.svg#arrow")
  
    .about__triangle
      svg.triangle(viewbox="0 0 1000 85" preserveaspectration="none")
        polygon(points="0,0  0,86  500.8,86  500.8,75.5").triangle-polygon.triangle-polygon_works
        polygon(points="1000,0  1000,86  500,86  500,75.5").triangle-polygon.triangle-polygon_works
