extends ../main.layout.pug

block content
  section.hero
    .hero__links
      ul.socials
        - var socials = ['vk', 'gh', 'in']
        each item in socials
         li.socials__item
          a(href="#").socials__link.socials__link_vk
        li.socials__item
          a(href="#").socials__link.socials__link_gh
        li.socials__item
          a(href="#").socials__link.socials__link_in    
    .hero__menu
      .hamburger
        .hamburger-line
        .hamburger-line
        .hamburger-line
    .hero__container
      .section__title
      .user
        .user__avatar Самат Хабибуллин
        .user__info Личный сайт веб разработчика

    .hero__btn
      .arrow-down
  
  section.about
    .about__col.about__col_bg_white
      .about__title
        h2.title Обо мне
      .about__desc
        .user-desc
          .user-desc__pic
            img(src="",alt="").user-desc__pic-elem
          .user-desc__info
            h3.user-desc__title
              .subtitle Кто я
            .user-desc__text
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, molestias aperiam? Similique aut quidem optio blanditiis nulla eius praesentium consequuntur repellendus consequatur. Provident eum cumque temporibus. Perspiciatis architecto dolores cumque illum? Aliquid libero consectetur praesentium, consequuntur neque qui, quam velit placeat vel tempore aut repellat perferendis delectus et quia nulla, nesciunt corrupti quis officia molestiae itaque natus dolores quidem? Qui culpa veniam atque pariatur aliquid ducimus, impedit ipsum natus accusamus delectus minus nam enim aspernatur nostrum, cumque illum possimus tempora quia voluptatum vero fuga! Illo, quia aliquam iste unde eum reiciendis neque, dolore magnam quasi dignissimos libero omnis tempora repudiandae.
    
    .about__col.about__col_bg_beige 
      .about__right-title
        .subtitle чем я могу быть вам полезен
      .about__right-desc
        p Больше всего меня привлекает Frontend разработка, но я также могу решать не сложные задачи на Backend. Но давайте по порядку
      .about__info-container
        ul.skils
          li.skils__item
            .skils-row
              h5.skils-row__title Frontend
              .skils-row__list
                .skils-row__item
                    svg.skill.skil_html
                .skils-row__item
                    svg.skill.skil_css
                .skils-row__item
                    svg.skill.skil_js
          li.skils__item
            .skils-row
              h5.skils-row__title Backend
              .skils-row__list
                .skils-row__item
                    svg.skill.skil_php
                .skils-row__item
                    svg.skill.skil_mySQl
                .skils-row__item
                    svg.skill.skil_nodes-js
                .skils-row__item
                    svg.skill.skil_mongo-db
          li.skils__item
            .skils-row
              h5.skils-row__title WorkFlow
              .skils-row__list
                .skils-row__item
                    svg.skill.skil_git
                .skils-row__item
                    svg.skill.skil_gulp
                .skils-row__item
                    svg.skill.skil_bower
  
  section.contacts
    .contacts__underlay
    .contacts__container
      .user-data
        .user-data__title
          .subtitle
        .uaser-data__container
          ul.user-contacts-list
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                .contacts-cell__title
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                .contacts-cell__title
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                .contacts-cell__title
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                .contacts-cell__title
  footer.footer
    .footer__row.footer__row_border_bottom
      .footer__coll
        nav.menu
          ul.menu__list
            li.menu__item
              a.menu__link Мои работы
            li.menu__item
              a.menu__link Обо мне
            li.menu__item
              a.menu__link Блог
            li.menu__item
              a.menu__link Авторизация
      .footer__coll_right
        ul.socials
          li.social__item
            a(href="#", social__link_vk).social__link
              svg
          li.social__item
            a(href="#", social__link_gh).social__link
              svg
          li.social__item
            a(href="#", social__link_in_in).social__link
              svg
    .footer__row
      .foter__col
        .footer-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni, vero soluta adipisci inventore blanditiis? Recusandae fugit explicabo sit ullam quae maxime, at ipsam dolore soluta nobis facere suscipit ut voluptate perferendis accusantium vitae molestiae quas aspernatur nesciunt quidem mollitia ipsa veritatis odio. Necessitatibus accusamus voluptas accusantium atque praesentium ratione?
      .footer__col
        .footer-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni, vero soluta adipisci inventore blanditiis? Recusandae fugit explicabo sit ullam quae maxime, at ipsam dolore soluta nobis facere suscipit ut voluptate perferendis accusantium vitae molestiae quas aspernatur nesciunt quidem mollitia ipsa veritatis odio. Necessitatibus accusamus voluptas accusantium atque praesentium ratione?
          

  


