extends ../main.layout.pug

block content
  include ../common/hero.pug
         
  
  section.about
    .about__triangle
      svg.triangle(viewbox="0 0 1000 85" preserveaspectration="none")
        polygon(points="0,0  0,86  500.8,86  500.8,75.5").triangle-polygon.triangle-left.triangle-left_fill_white
        polygon(points="1000,0  1000,86  500,86  500,75.5").triangle-polygon.triangle-right.triangle-right_fill_beige
    .about__container
      .about__col.about__col_bg_white
        .about__title
          h2.title Обо мне
          .about__svg-title
            svg.svg-about_header
              use(xlink:href="/src/images/icons/sprite.svg#about_header")

        .about__desc
          .user-desc
            .user-desc__pic
              img(src="/images/content/user-full.jpg",alt="большой аватар").user-desc__pic-elem
            .user-desc__info
              h3.user-desc__title
                .subtitle Кто я
              .user-desc__text
                p Я веб разработчик из Казани. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
                p Этот сайт я сделал в рамках обучения в  школе онлайн образования LoftSchool. Чуть поезже я освежу в нём свой контент. А пока смотрите как тут все классно и красиво.
    
      .about__col.about__col_bg_beige 
        .about__right-title
          .subtitle.subtitle_width чем я могу быть вам полезен
        .about__right-desc
          p Больше всего меня привлекает Frontend разработка, но я также могу решать не сложные задачи на Backend. Но давайте по порядку
        .about__info-container
          #skills-components
            
  
  section.contacts
    .contacts__underlay
      .map
        <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d3580.0011228866297!2d49.14192521738239!3d55.78559174928241!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x415ead0b77263823%3A0xbbc411ab08a04b4c!2z0YPQuy4g0JLQvtC70LrQvtCy0LAsIDU1LCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDA0Mw!3m2!1d55.785958099999995!2d49.141899699999996!5e0!3m2!1sru!2sru!4v1540187277367" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    .contacts__container
      .user-data
        .user-data__title
          .subtitle Контакты
        .uaser-data__container
          ul.user-contacts-list
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#skype")    
                .contacts-cell__title skype_kdn
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#telegram")
                .contacts-cell__title SamatKhabibyllin@gmail.com
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#phone")
                .contacts-cell__title +7 987 002 74 50
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#map_n")
                .contacts-cell__title г. Казань ул. 2-ая Югозападная д.7
  include ../common/footer.pug