extends ../main.layout.pug

block content
  section.hero
    .hero__links
      ul.socials
        li.socials__item
          a(href="#").socials__link.socials__link_vk
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#vk")
        li.socials__item
          a(href="#").socials__link.socials__link_in
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#github")
        li.socials__item
          a(href="#").socials__link.socials__link_gh
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#in")    
    .hero__menu
      .hamburger
        .hamburger-line
        .hamburger-line
        .hamburger-line
    .hero__container
      .section__title
      .user
        .user__avatar
          img.user-img(src="/images/content/user.jpg", alt="аватар")
        .user__name
          h2.my-name Самат Хабибуллин
        .user__info 
          p Личный сайт веб разработчика

    .hero__btn
      .arrow-down
        svg.svg-arrow
          use(xlink:href="/src/images/icons/sprite.svg#arrow")
         
  
  section.about
    .about__triangle
      svg.triangle(viewbox="0 0 1000 85" preserveaspectration="none")
        polygon(points="0,0  0,86  500.8,86  500.8,75.5").triangle-polygon.triangle-left.triangle-left_fill_white
        polygon(points="1000,0  1000,86  500,86  500,75.5").triangle-polygon.triangle-right.triangle-right_fill_beige
    .about__container
      .about__col.about__col_bg_white
        .about__title
          h2.title Обо мне
          .about__svg-title
            svg.svg-about_header
              use(xlink:href="/src/images/icons/sprite.svg#about_header")

        .about__desc
          .user-desc
            .user-desc__pic
              img(src="/images/content/user-full.jpg",alt="большой аватар").user-desc__pic-elem
            .user-desc__info
              h3.user-desc__title
                .subtitle Кто я
              .user-desc__text
                p Я веб разработчик из Казани. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
                p Этот сайт я сделал в рамках обучения в  школе онлайн образования LoftSchool. Чуть поезже я освежу в нём свой контент. А пока смотрите как тут все классно и красиво.
    
      .about__col.about__col_bg_beige 
        .about__right-title
          .subtitle.subtitle_width чем я могу быть вам полезен
        .about__right-desc
          p Больше всего меня привлекает Frontend разработка, но я также могу решать не сложные задачи на Backend. Но давайте по порядку
        .about__info-container
          ul.skils
            li.skils__item
              .skils-row
                h5.skils-row__title Frontend
                .skils-row__list
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_html
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_css
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-55
                        span.skils-row-name CCS3
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_js
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-95
                        span.skils-row-name JavaScript & JQuery
            li.skils__item
              .skils-row
                h5.skils-row__title Backend
                .skils-row__list
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_php
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_mySQl
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_nodes-js
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_mongo-db
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
            li.skils__item
              .skils-row
                h5.skils-row__title WorkFlow
                .skils-row__list
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_git
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_gulp
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
                  .skils-row__item
                      svg(viewbox="0 0 110 110").skill.skil_bower
                        circle(r="45" cx="50%" cy="50%" fill="none").svg-circle__first
                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 50 50)").svg-circle__second.circle-15
                        span.skils-row-name HTML5
  
  section.contacts
    .contacts__underlay
      .map
        img(src="/images/content/map.jpg").map-image
    .contacts__container
      .user-data
        .user-data__title
          .subtitle Контакты
        .uaser-data__container
          ul.user-contacts-list
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#skype")    
                .contacts-cell__title skype_kdn
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#telegram")
                .contacts-cell__title SamatKhabibyllin@gmail.com
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#phone")
                .contacts-cell__title +7 987 002 74 50
            li.user-contacts-list__item
              .contacts-cell
                .contacts-cell__icon
                  svg.icon-contacts
                    use(xlink:href="/images/icons/sprite.svg#map_n")
                .contacts-cell__title г. Казань ул. 2-ая Югозападная д.7
  footer.footer
    .footer__row.footer__row_border_bottom
      .footer__coll
        nav.menu
          ul.menu__list
            li.menu__item
              a(href="#").menu__link Мои работы
            li.menu__item
              a(href="#").menu__link Обо мне
            li.menu__item
              a(href="#").menu__link Блог
            li.menu__item
              a(href="#").menu__link Авторизация
      .footer__coll_right
        ul.socials
        li.socials__item.socials__item_circle
          a(href="#").socials__link.socials__link_vk.socials__link_circle
            svg(style="width: 20px; height: 20px;").icon-social.icons-social_circle
              use(xlink:href="/images/icons/sprite.svg#vk")
        li.socials__item.socials__item_circle
          a(href="#").socials__link.socials__link_in.socials__link_circle
            svg(style="width: 20px; height: 20px;").icon-social.icons-social_circle
              use(xlink:href="/images/icons/sprite.svg#github")
        li.socials__item_circle
          a(href="#").socials__link.socials__link_gh.socials__link_circle
            svg(style="width: 20px; height: 20px;").icon-social.icons-social_circle
              use(xlink:href="/images/icons/sprite.svg#in")    
    .footer__row.footer__row_padding
      .foter__col
        .footer-text.footer-text_right
          p  Я веб разработчик из Казани, и этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool.
      .footer__col.footer__coll_right
        .footer-text
          p &copy; Хабибуллин Самат | создано с любовью в LoftSchool | 2018