extends ../main.layout.pug

block content
  .welcome
    .welcome__continer
      a.auth__btn(href="#") Авторизоваться
      .user-block
        .avatar
          img.avatar__image(src="/images/content/user.jpg")
        h1.my-name_welcome Самат Хабибуллин
        .user-block__desc Личный сайт веб разаработчика
        .icons
          ul.socials
            li.socials__item
              a(href="#").socials__link.socials__link_vk
                svg.icon-social.icon-social_welcome
                  use(xlink:href="/images/icons/sprite.svg#vk")
            li.socials__item
              a(href="#").socials__link.socials__link_in
                svg.icon-social.icon-social_welcome
                  use(xlink:href="/images/icons/sprite.svg#github")
            li.socials__item
              a(href="#").socials__link.socials__link_gh
                svg.icon-social.icon-social_welcome
                  use(xlink:href="/images/icons/sprite.svg#in")    
        .user-block__bottom
          ul.user-block__list
            li.user-block__item
              a.user-block__link(href="#") Мои работы
            li.user-block__item
              a.user-block__link(href="#") Обо мне
            li.user-block__item
              a.user-block__link(href="#") Блог
      .copyright &copy; Самат Хабибуллин | создано с любовью в LoftSchool | 2018

