extends ../main.layout.pug

block content
  include ../common/hero.pug 

  section.works
    .about__triangle
      svg.triangle(viewbox="0 0 1000 85" preserveaspectration="none")
        polygon(points="0,0  0,86  500.8,86  500.8,75.5").triangle-polygon.triangle-polygon_works
        polygon(points="1000,0  1000,86  500,86  500,75.5").triangle-polygon.triangle-polygon_works
    .works__title
      h2.title Мои работы
    .work__container
      #slider-component

  section.say-about
    .say-about__title
      h2.title что обо мне говорят
    .say-about__container
      .recommendations
        .recommendation__left
          .recommendation-text
            p Этот парень проходил обучение не где то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .recommendation-user
            .recommendation__avatar
              .recommendation-pic
                .recommendation-user
                  img(src="/images/content/kovdm.png", alt="Ковальчук Дмитрий").recommendation-user
            .recommendation-name
              .recommendation-title Ковальчук Дмитрий
              .recommendation-desc основатель LoftSchool
        .recommendation__right
          .recommendation-text
            p Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах!
          .recommendation-user
            .recommendation__avatar
              .recommendation-pic
                .recommendation-user
                  img(src="/images/content/sabvl.png", alt="Сабанцев Владимир").recommendation-user
            .recommendation-name
              .recommendation-title Сабанцев Владимир
              .recommendation-desc преподаватель
      .form-container
        form(action="", method="post").form
          .form__title
            .subtitle связаться со мной
          .input-block
            input(type="text" placeholder="Имя").input.input-name
            input(type="email" placeholder="Email").input.input-email
            textarea(name="message", placeholder="Ваше сообщение").taxtarea
          .form-btns
            input(type="submit" value="Отправить").submit
            input(type="reset" value="Очистить").reset
        .arrow-up
          a(href="#").arrow-up__links
              svg.arrow-up-svg
                use(xlink:href="/images/icons/sprite.svg#arrow")
  include ../common/footer.pug  



      
      

