extends ../main.layout.pug

block content
  section.hero
    .hero__links
      ul.socials
        li.socials__item
          a(href="#").socials__link.socials__link_vk
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#vk")
        li.socials__item
          a(href="#").socials__link.socials__link_in
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#github")
        li.socials__item
          a(href="#").socials__link.socials__link_gh
            svg.icon-social
              use(xlink:href="/images/icons/sprite.svg#in")    
    .hero__menu
      .hamburger
        .hamburger-line
        .hamburger-line
        .hamburger-line
    .hero__container
      .section__title
      .user
        .user__avatar
          img.user-img(src="/images/content/user.jpg", alt="аватар")
        .user__name
          h2.my-name Самат Хабибуллин
        .user__info 
          p Личный сайт веб разработчика

    .hero__btn
      .arrow-down
        svg.svg-arrow
              use(xlink:href="/src/images/icons/sprite.svg#arrow")

  section.works
    .about__triangle
      svg.triangle(viewbox="0 0 1000 85" preserveaspectration="none")
        polygon(points="0,0  0,86  500.8,86  500.8,75.5").triangle-polygon.triangle-polygon_works
        polygon(points="1000,0  1000,86  500,86  500,75.5").triangle-polygon.triangle-polygon_works
    .works__title
      h2.title Мои работы
    .work__container
        .slider.js-slider
          .slider__desc.js__desc
            .slider__title
              .subtitle Сайт магазина бургеров
            .slider-line
            .slider__desc-second
              .tech
                p HTML, CSS, Java Script
            .slider-line
            .slider__btn
              a(href="#").btn.btn_green
                span.btn-text Посмотреть сайт
            
          
          .slider__main-slide.js-main-slide
            img(src="/images/content/works-1.png" alt="").slider__main-slide-img
          .slider__up-slide.js-scroll-up
            img(src="/images/content/works-2.png" alt="").slider__up-slide-img
            .slider__arrow
              svg.slider-arrow-svg.slider-arrow-up
                use(xlink:href="/images/icons/sprite.svg#portf_arrow_down")   
          .slider__down-slide.js-scroll-down
            img(src="/images/content/works-3.png" alt="").slider__down-slide-img
            .slider__arrow
              svg.slider-arrow-svg.slider-arrow-down
                use(xlink:href="/images/icons/sprite.svg#portf_arrow_up")
          div
          div
          div
          div
  section.say-about
    .say-about__title
      h2.title что обо мне говорят
    .say-about__container
      .recommendations
        .recommendation__left
          .recommendation-text
            p Этот парень проходил обучение не где то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .recommendation-user
            .recommendation__avatar
              .recommendation-pic
                .recommendation-user
                  img(src="/images/content/kovdm.png", alt="Ковальчук Дмитрий").recommendation-user
            .recommendation-name
              .recommendation-title Ковальчук Дмитрий
              .recommendation-desc основатель LoftSchool
        .recommendation__right
          .recommendation-text
            p Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах!
          .recommendation-user
            .recommendation__avatar
              .recommendation-pic
                .recommendation-user
                  img(src="/images/content/sabvl.png", alt="Сабанцев Владимир").recommendation-user
            .recommendation-name
              .recommendation-title Сабанцев Владимир
              .recommendation-desc преподаватель
      .form-container
        form(action="", method="post").form
          .form__title
            .subtitle связаться со мной
          .input-block
            input(type="text" placeholder="Имя").input.input-name
            input(type="email" placeholder="Email").input.input-email
            textarea(name="message", placeholder="Ваше сообщение").taxtarea
          .form-btns
            input(type="submit" value="Отправить").submit
            input(type="reset" value="Очистить").reset
        .arrow-up
          a(href="#").arrow-up__links
              svg.arrow-up-svg
                use(xlink:href="/images/icons/sprite.svg#arrow")  



      
      

